{% extends 'base.html' %}

{% block content-title %}
    <h1 class="h2">{{ title }}</h1>
{% endblock %}

{% block content %}
    <form method="post" id="deleteForm">
        {% csrf_token %}
        <p class="text-center">Está seguro que quiere eliminar "{{ object }}"?</p>
        {{ form }}
    </form>
{% endblock %}

{% block content-footer %}
    <div class="text-right">
        <button type="submit" form="deleteForm" class="btn btn-primary">Eliminar</button>
        <a href="{{ back_url }}" class="btn btn-danger">Cancelar</a>
    </div>
{% endblock %}